@media (min-width: 1200px) {
    body {
        width: 1100px;
    }



    .banner-title {
        position: absolute;
        top: 40px;
        left: 40px;
    }
    
    .banner a {
        position: absolute;
        top: 370px;
        right: 100px;
    }

    .box-container {
        grid-template-columns: 1fr auto 1fr;
        margin: 30px auto;
    }

    .fresh-box h2 {
        top: 15px;
        left: 15px;
        right: 15px;
    }
}