@media (min-width: 800px) {
    body {
        width: 750px;
    }

    .banner-title {
        position: absolute;
        top: 25px;
        left: 30px;
    }
    
    .banner a {
        position: absolute;
        top: 320px;
        right: 100px;
        font-size: 1.7rem;
    }

    .map-preview {
        width: 350px;
    }

    .fresh-box h2 {
        top: 25px;
        left: 125px;
    }
}